<div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="user.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" [(ngModel)]="user.email" placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="user.phone" placeholder="Phone">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="user.address.street" placeholder="address">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="!user._id" mat-button (click)="onSubmit()" cdkFocusInitial>Save</button>
  </div>